body {
    background-color: white;
    color: #003366; /* Dark blue for text */
    font-family: Arial, sans-serif;
    font-size: 11pt;
}

a {
    color: #0056b3; /* Bright blue for links */
}

a:hover {
    color: #003366; /* Darker blue when hovering */
}

header, footer {
    background-color: #003366; /* Dark blue header/footer */
    color: white;
}

.container {
    max-width: 1100px;
    margin: auto;
}
